<div class="container">
  <form>
    <div fxLayout="row" >
      <div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutGap="30px">
        <h1>Novo Lançamento</h1>
      </div>
    </div>

    <div style="height: 70px;" fxLayout="row" fxLayoutAlign="start center" >
      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="{{tipo.value}}" *ngFor="let tipo of tipos">{{tipo.value}}</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div fxLayout="row" fxLayoutGap.gt-xs="30px" fxLayoutGap.lt-sm="30px">
      <mat-form-field fxFlex.gt-xs='30%' fxFlex.lt-sm="46%">
        <!-- for datepicker works -->
        <!-- npm i @angular/material-moment-adapter --save -->
        <!-- npm i moment --save -->
        <input matInput [matDatepicker]="vencimento" placeholder="Vencimento">
        <mat-datepicker-toggle matSuffix [for]="vencimento"></mat-datepicker-toggle>
        <mat-datepicker #vencimento></mat-datepicker>
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs='30%' fxFlex.lt-sm="46%">
        <input matInput [matDatepicker]="recebimento" placeholder="{{group.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}">
        <mat-datepicker-toggle matSuffix [for]="recebimento"></mat-datepicker-toggle>
        <mat-datepicker #recebimento color="warn"></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">
      <mat-form-field fxFlex.gt-xs='80%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Descrição">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs='20%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Valor">
        <span matPrefix>R$&nbsp;</span>
      </mat-form-field>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">
      <mat-form-field fxFlex.gt-xs='50%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Categoria">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs='50%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Pessoa">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap.gt-xs="30px">
      <mat-form-field fxFlex.gt-xs='100%' fxFlex.lt-sm="100%">
        <textarea matInput placeholder="Observação"></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign.lt-sm="start center" fxLayoutGap.gt-xs="8px" fxLayoutGap.lt-sm="8px">
      <button mat-flat-button color="primary">Salvar
        <mat-icon aria-label="Salvar">save_alt</mat-icon>
      </button>

      <button mat-stroked-button color="primary">Novo
        <mat-icon aria-label="Novo">add</mat-icon>
      </button>

      <a mat-button routerLink=".">Voltar</a>
    </div>


  </form>
</div>
