<div class="container">

  <mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile colspan="4" rowspan="1">
      <h1 class="full-width">Lançamentos</h1>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <mat-form-field class="full-width">
        <input matInput placeholder="Descrição">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="4" rowspan="1">
      <div class="full-width">
        <label class="add-padding-r">Vencimento</label>
        <mat-form-field class="add-padding-r">
          <input matInput placeholder="De">
        </mat-form-field>
        <mat-form-field class="add-padding-r">
          <input matInput placeholder="Até">
        </mat-form-field>
        <button mat-flat-button color="primary">Pesquisar</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
