
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color:#404C51;
}

label{
  font-weight: bold;
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.full-width {
  width: 90%;
}


