<div class="container">
  <form #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">
    <div fxLayout="row">
      <div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutGap="30px">
        <h1>{{ editando ? 'Edição de' : 'Nova'}} Pessoa</h1>
      </div>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.xs="column">
      <mat-form-field fxFlex.gt-xs='100%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Nome" name="nome" #nome="ngModel" required minlength="8" [(ngModel)]="pessoa.nome">
        <mat-error *ngIf="nome.hasError('required') && nome.dirty">Informe o nome.</mat-error>
        <mat-error *ngIf="nome.hasError('minlength') && nome.dirty">Mínimo de 8 caracteres.</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">
      <mat-form-field fxFlex.gt-xs='70%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Logradouro" name="rua" ngModel #rua="ngModel" required [(ngModel)]="pessoa.endereco.rua">
        <mat-error *ngIf="rua.hasError('required') && rua.dirty">Informe o logradouro.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs='30%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Número" name="numero" ngModel #numero="ngModel" required [(ngModel)]="pessoa.endereco.numero">
        <mat-error *ngIf="numero.hasError('required') && numero.dirty">Informe o número.</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">
      <mat-form-field fxFlex.gt-xs='30%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Complemento" name="complemento" [(ngModel)]="pessoa.endereco.complemento">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs='40%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Bairro" name="bairro" ngModel #bairro="ngModel" required [(ngModel)]="pessoa.endereco.bairro">
        <mat-error *ngIf="bairro.hasError('required') && bairro.dirty">Informe o bairro.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs='30%' fxFlex.lt-sm="80%">
        <input matInput type='text' mask='00.000-000' placeholder="CEP" name="cep" ngModel #cep="ngModel" required
          [(ngModel)]="pessoa.endereco.cep">
        <mat-error *ngIf="cep.hasError('required') && cep.dirty">Informe o CEP.</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">
      <mat-form-field fxFlex.gt-xs='50%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Cidade" name="cidade" ngModel #cidade="ngModel" required [(ngModel)]="pessoa.endereco.cidade">
        <mat-error *ngIf="cidade.hasError('required') && cidade.dirty">Informe a cidade.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs='50%' fxFlex.lt-sm="80%">
        <input matInput placeholder="Estado" name="estado" ngModel #estado="ngModel" required [(ngModel)]="pessoa.endereco.estado">
        <mat-error *ngIf="estado.hasError('required') && estado.dirty">Informe o estado.</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign.lt-sm="start center" fxLayoutGap.gt-xs="8px" fxLayoutGap.lt-sm="8px">
      <button type="submit" mat-flat-button color="primary" [disabled]="!pessoaForm.valid">Salvar
        <mat-icon aria-label="Salvar">save_alt</mat-icon>
      </button>

      <button type="button" mat-stroked-button color="primary">Novo
        <mat-icon aria-label="Novo">add</mat-icon>
      </button>

      <a mat-button routerLink="/pessoas">Voltar</a>
    </div>
  </form>
</div>
